.debug3 {
  border: 1px solid violet;
}

.btn-block {
  display: block;
  width: 100%;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form input[type="password"],
.contact-form textarea {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  display: block;
  margin: 10px 0px;
  padding: 18px;
}

.contact-form input:hover {
  border-color: #414141;
}

.contact-form input[type="submit"] {
  width: 100%;
  padding: 18px;
  font-size: 1rem;
  border: 0;
  background: #360c66;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.contact-form input[type="submit"]:hover {
  background-color: #062454;
  box-shadow: 0px 15px 20px rgba(160, 156, 166, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

.contact-form button {
  width: 100%;
  padding: 18px;
  font-size: 1rem;
  border: 0;
  color: #fff;
  background-color: #cab2eb;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.contact-form button:hover {
  background-color: #062454;
  box-shadow: 0px 15px 20px rgba(160, 156, 166, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
